body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url('table.jpg');
}

#dealer-cards img{
    height: 200px;
    width: 150px;
    margin: 1px;
}

#your-cards img{
    height: 200px;
    width: 150px;
    margin: 1px;
}

button{
    font-size: larger;
}

#hit{
    background: #ff523b;
    color: #fff;
    padding: 10px 45px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}

#stay{
    background: #ff523b;
    color: #fff;
    padding: 10px 45px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}
p{
    font-size: larger;
    padding: 0%;
}